{% extends "layout.html" %}

{% block title %}About - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="about-hero">
    <div class="container text-center white-text">
        <h1>About</h1>
    </div>
</section>

<!-- About Section -->
<section class="split-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/davids.png') }}" alt="About Us" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h2>About Yavneh Celebration of the Arts</h2>
                    <p>
                        Add blurb here.
                    </p>
                    <p>
                        Since its inception, the event has grown into a cherished tradition, celebrating unity through 
                        artistic expression.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Mission Statement Section -->
<section class="split-section mission-split">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/mission.png') }}" alt="Mission" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h2>Our Mission</h2>
                    <p>
                        Our mission is 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- History Section -->
<section class="split-section history-split">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/founders.png') }}" alt="History" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h2>Our History</h2>
                    <p>
                        Founded in 2024 by Yavneh Board, Celebration of the Arts is
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
