{% extends "layout.html" %}

{% block title %}About - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="about-hero">
    <div class="container text-center white-text">
        <h1>About</h1>
    </div>
</section>

<!-- Mission Statement Section -->
<section class="split-section mission-split">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/mission.png') }}" alt="Mission" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h2>Our Mission</h2>
                    <p>
                        Yavneh Celebration of the Arts aims to foster connection and inspiration by providing a platform
                        for members of our community to showcase their musical and artistic talents. Through this event, we
                        celebrate the diverse expressions of art while bringing people together in appreciation and support of
                        one another.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- History Section -->
<section class="split-section history-split">
    <div class="container-fluid">
        <div class="row flex-row-reverse">
            <div class="col-md-6">
                <img src="{{ url_for('static', filename='images/founders.png') }}" alt="History" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="text-container">
                    <h2>Our History</h2>
                    <p>
                        Founded in 2024 by Yavneh Board, Celebration of the Arts has quickly become a beloved annual tradition,
                        now in its second year.
                        The inaugural event featured performances on bass, piano, drums, flute, guitar, and vocals. 
                        Alongside the music, seven artists displayed their incredible artwork around the room, ranging from photography, paintings, prints, and sketches.
                        The event brought together the community, raising nearly $300 for charity.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
