{% extends "layout.html" %}

{% block title %}Chessed - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<section class="about-hero">
    <div class="container text-center white-text">
        <h1>Chessed</h1>
    </div>
</section>

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="chessed-container">
        <div class="chessed-header">
            <h2>NATAL</h2>
            <span class="sparkle sparkle-1">✦</span>
            <span class="sparkle sparkle-2">✦</span>
            <span class="sparkle sparkle-3">✦</span>
            <span class="sparkle sparkle-4">✦</span>
        </div>

        <hr class="chessed-divider">
        <p>
            <strong>NATAL</strong> is a non-profit organization dedicated to providing psychological and
            emotional care for Israeli civilians and soldiers who have experienced trauma due to war and acts of terror.
        </p>
        <p>
            Since its founding in <strong>1998</strong>, NATAL has impacted over <strong>500,000</strong> individuals,
            offering crisis intervention, therapy, and community resilience programs.
        </p>
        <p>
            <strong>In response to October 7th</strong>, NATAL has has deepened its commitment to emotional healing and
            resilience by expanding its services. Efforts include:
        </p>

        <ul class="chessed-list">
            <li>Tripling the number of volunteers on their Helpline</li>
            <li>Sending mental health professionals to assist displaced communities</li>
            <li>Supporting thousands of soldiers transitioning back to civilian life</li>
        </ul>
        <br>

        <p>
            With <strong>64,000</strong> calls fielded since the war began and <strong>2,300</strong> patients treated
            weekly, NATAL continues to be a beacon of healing and resilience.
        </p>

        <hr class="chessed-divider">

        <div class="text-center mt-3">
            <a href="https://www.natal.org.il/en/" target="_blank" class="chessed-btn">Learn More About NATAL
                here</a>
        </div>
    </div>
</div>

<section></section>
{% endblock %}