{% extends "layout.html" %}

{% block title %}Contact - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<section class="about-hero">
    <div class="container text-center white-text">
        <h1>Contact Us</h1>
    </div>
</section>

<div class="container mt-5 text-center contact-us">
    <p>
        If you have any questions, comments, or feedback, feel free to email us at 
        <span class="email-container" onclick="copyToClipboard('yavneh@hillel.columbia.edu')">
            <a href="mailto:yavneh@hillel.columbia.edu" class="email-link">yavneh@hillel.columbia.edu</a>.
            <br> We'd love to hear from you!
        </span>
    </p>
</div>

<script>
function copyToClipboard(text) {
    navigator.clipboard.writeText(text).catch(err => {
        console.error('Failed to copy: ', err); // Log errors silently
    });
}

</script>
{% endblock %}