{% extends "layout.html" %}

{% block title %}Gallery - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<section class="about-hero">
    <div class="container text-center white-text">
        <h1>Gallery</h1>
    </div>
</section>

<section class="gallery-hero">
    <div class="container text-center">
        <p>Select a gallery to view photos.</p>
        <a href="{{ url_for('gallery_2024') }}" class="btn btn-primary btn-lg">Gallery 2024</a>
    </div>
</section>
{% endblock %}
