{% extends "layout.html" %}

{% block title %}Welcome - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<div class="homepage-background">
    <div class="overlay">
        <div class="content text-center">
            <img src="{{ url_for('static', filename='images/logo-placeholder.svg') }}" alt="Yavneh Celebration of the Arts Logo" class="homepage-logo">
            <div class="event-details">MARCH 1 | RENNERT HALL</div>
            <a href="{{ url_for('register') }}" class="btn btn-warning btn-lg">Register Now</a>
        </div>
    </div>
</div>
{% endblock %}
