{% extends "layout.html" %}

{% block title %}Welcome - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<div class="homepage-background">
    <div class="overlay">
        <div class="content text-center">
            <img src="{{ url_for('static', filename='images/homepage-logo.svg') }}" 
                 alt="Yavneh Celebration of the Arts Logo" 
                 class="img-fluid w-100 mx-auto d-block">
            <br>
            <a href="{{ url_for('register') }}" class="btn glimmer-btn">RSVP HERE</a>
        </div>
    </div>
</div>
{% endblock %}
