{% extends "layout.html" %}

{% block title %}Welcome - Yavneh Celebration of the Arts{% endblock %}

{% block content %}
<div class="homepage-background">
    <div class="overlay">
        <div class="content text-center">
            <img src="{{ url_for('static', filename='images/new-logo.svg') }}" alt="Yavneh Celebration of the Arts Logo" class="homepage-logo">
            <a href="{{ url_for('register') }}" class="btn silver-btn btn-lg">RSVP HERE</a>
        </div>
    </div>
</div>
{% endblock %}
